Params

Params # comment
  {
    "one": "two",
    "three": 4 // {max: 5},
    "five": false // {optional: true}
  }


Params # comment
###
  comment block
###
  [
    {
      "one": "two",
      "three": 4,
      "five": false
    }
  ]

Params
  200 

Params
  "stringLiteral"

 