# comment TODO: 

JSIGHT 0.3

INFO
  Title "Cats API"
  Version 1.0

  Description # comment
    # Sorry  

    Markdown __works__, but won't be **highlighted**.
    * [Editor](https://editor.jsight.io)
    * [Site](https://jsight.io)


SERVER @CATS_API_SERVER_1 // our main server 
  
  BaseUrl "https://baseUrl"


TYPE @cat jsight // just a cat
  { // {additionalProperties: "string"}
    "id": "id", // {type: "@catId", optional: false}
    "name": "Tom", // {minLength: 3}
    "age": 12,  // {min: 0, exclusiveMinimum: false}
    "enemy": @dog | @wolf, // {optional: true}
    "paws": true, // {const: true}
    "friends": [ // {minItems: 1}
      "Jerry"
    ],
    "regex": // {regex: ".*"}
  }


URL /cats/{id}

  Path
    {
      "id": "id" // {type: "@catId"}
    }

  GET // view # comment
    Request
      Headers
        @commonHeaders
      
      Body empty

    200 @cat

  POST // create
    Description
      Create cats carefully!
      Read the [docs](https://cats-creation.io)!
      
    Request
      Headers
        @commonHeaders
      
      Body @cat

    201
      "ok"

  PUT // change
    Request
      Headers 
        @commonHeaders

    Body
      {
         "name": "Tom", // {minLength: 3}
         "age": 12  // {min: 0, exclusiveMinimum: false}
      }

    200
      "ok"


  DELETE // destroy

    200
      "ok"

    500
      "undeleteable cat"


POST /useAllDirectives/{param} // Создать что-нибудь

  Description 
    One two

  Path
    {
      "param": "string" // {enum: ["one", "two", "string"]}
    }
  Query "page=1&perPage=20" htmlFormEncoded
    {
      "page": 1,
      "perPage": 20
    }

  Request
    Headers
      {
        "Authorization": "Bearer 123",
        "Content-Type": "Application/json"
      }
    Body
      {
        "string": "enum",       // {type: "enum", enum: ["enum","two","three"]}
        "number": 123,          // {min: 1, max: 200}
        "bool": true,           // {type: "@someType"}
        "type": @cat,           // {nullable: true}
        "types": @cat | @dog,   // {optional: true}
        "array": [              // {minItems: 4}
            -0.1, 
            "two", 
            true,
            @dog
        ]
      }

  200
    Headers
      @commonHeaders
    Body @fullResult


GET /request/and/different/responses

  Request @someRequest

  200
    123

  200 jsight
    123

  200
    "plainString"

  200 regex
    /.*/

  200 @cat

  200 jsight
    @dog

  200 any

  200 empty



# ----------------------------------------


URL /cats

  GET // view # comment

    Path
      {
        "param": "one" // {enum: ["one", "two"]}
      }
    Query "page=1&perPage=20" htmlFormEncoded
      {
        "page": 1,
        "perPage": 20
      }

    Request
      Headers
        {
          "Authorization": "Bearer 123",
          "Content-Type": "Application/json"
        }
      Body
        {
          "string": "two",        // {type: "enum", enum: ["enum","two","three"]}
          "number": 123,          // {min: 1, max: 200}
          "bool": true,           // {type: "@someType"}
          "type": @cat,           // {nullable: true}
          "types": @cat | @dog,   // {optional: true}
          "array": [              // {minItems: 4}
              -0.1, 
              "two", 
              true,
              @dog
          ]
        }

    200
      Headers
        @commonHeaders

      Body
        @fullResult

TYPE @catId
  {}

MACRO @myMacro

PASTE @myMacro

MACRO 

TYPE @someType
  true

TYPE @dog
  {}

TYPE @commonHeaders
  {}

TYPE @fullResult
  {}
  
TYPE @someRequest
  {}