###
  block from the start
###

This is not a comment

# line from the start

This is not a comment

 ###
  block with indended opening
###

This is not a comment

# line comment
# line comment after another line comment

    # line comment indented

This is not a comment

# line comment # line comment right after

# line comment ### block opening (should not work)

This is not a comment (opening did not work)

### <- this opens block comment, not closes it
### <- this closed the block, this text is not a comment

This is not a comment

### block opened and closed in one line ### this is not a comment # this is a comment again

This is not a comment

### block opened and closed in one line ### this is not a comment ### block opened and closed in one line ###
