500 @some

500 
    {
        "one": "two"
    }

500 regex
    /OKexp/

500 string
    "somestring as string"

500 jsight
    123

500
    123

500
    1234  

500 jsight
    "somestring as jschema"

500
    "somestring as jschema"

500
    "" 

500 jsight
    true  

500
    true  

500 jsight
    {
        "one": "two", // {type: "string"}
        "object": {
            "o1": "o2" // {type: enum, enum: ["o2", o3"]}
        }
    }

500
    {
        "one": "two", // {type: "string"}
        "object": {
            "o1": "o2" // {type: enum, enum: ["o2", o3"]}
        }
    }

500 jsight
    [{
        "one": "two", // {type: "string"}
        "object": {
            "o1": "o2" // {type: enum, enum: ["o2", o3"]}
        }
    }]


500 @some 

500 
    {
        "one": "two"
    }