TESTDIR
    123
200
    123
200
    123
200
    123

URL


TESTDIR
    "something"
200

TESTDIR
    /regex/
200

TESTDIR
    true 
200

TESTDIR
    {
        "one": "two", 
        "object": {
            "o1": "o2"
        }
    }
200

TESTDIR
    [{
        "one": "two", 
        "object": {
            "o1": "o2"
        }
    }]
200


TESTDIR @some
200

TESTDIR 
{
    "one": "two"
}

200
