# comment

ENUM @name
  [
    "one",
    2,
    1.4,
    false,
    null
  ]

# comment

ENUM @name // annotation # comment
# comment
  [
    "one", // string
    
    // numbers
    2, // integer 
    1.4, // float
    
    // booleans
    false,
    true,
    null 
  ]
