
POST /dummy 
  Body @some // annotation # comment

POST /dummy 
  Body [@some] // annotation # comment

POST /dummy 
  Body @some /* multi 
                  line 
                  annotation
                */

# IN CONTEXT

# TODO