  Request // annotation # comment
    123

 Request // annotation # comment
   true

Request // annotation # comment
  false

Request // annotation # comment
  null

Request // annotation # comment
  "somestring"

Request // annotation # comment
  {
    "key": "value" // { nullable: false }
  }

Request // annotation # comment
  [
    "one"
  ]

Request // annotation # comment
  @typeInSchema

# With explicit notation

Request jsight // annotation # comment
  123

Request jsight // annotation # comment
  true

Request jsight // annotation # comment
  false

Request jsight // annotation # comment
  null

Request jsight // annotation # comment
  "somestring"

Request jsight // annotation # comment
  {
    "key": "value" // { nullable: false }
  }

Request jsight // annotation # comment
  [
    "one"
  ]

Request jsight // annotation # comment
  @typeInSchema