SERVER @CATS_API_SERVER // Real server catsbook.com API
  BaseUrl "https://catsbook.com/api"


SERVER @CATS_API_SERVER // Real server catsbook.com API # comment
  ###
    comment block
  ###
  BaseUrl "https://{env}.catsbook.com/api"
