200 
  123

200 // annotaion # comment
  false

200 
  true

200 // annotaion # comment
  null

200 jsight // annotaion # comment
  200

200 jsight
  false

200 jsight // annotaion # comment
  "somestring"

200 jsight // annotaion # comment
  {
    "one": "two" // {one: "two"}
  }

200 jsight
  {"one": null}


200 jsight
  [ // {minItems: 2}
    "one", 
    "two"
  ]

200 jsight
  ["one", "two"] 

200 jsight // annotaion # comment
  [{ // {additionalProperties: true}
    "one": "two" // {one: "two"}
  }]