###
 Root block comment
###

# root line comment

200 @some # comment
 
200 [@some] // annotaion # line comment

200 @some /* block one-line annotation */ # line comment
 
200 // annotation # line comment
 @some # line comment

200 jsight // annotation # line comment
 ###
   block comment
 ###
 @some # line comment

200 // annotation # line comment 
  [@some]

200 jsight // annotation # line comment
  ###
    block comment
  ###
  [@some]