
POST /dummy 
  201 any // annotation # comment


POST /dummy 
  201 any /* multi # comment
              line # comment
              annotation # comment
          */

POST /dummy 
  200 empty // annotation # comment

POST /dummy 
  201 empty /* multi # comment
              line # comment
              annotation # comment
          */


POST /dummy 

# TODO