POST /cat/{id}/friend/{friend:id}

  Path # comment
  ### 
   block comment
  ###
    {
      "id": 123, # comment in jschema
      ###
        block comment in jschema
      ###
      "friend:id": 123
    }
  ### 
   block comment
  ###