GET /cats

  Query "param=some&param2=other" noFormat
    {
      "param": "some",
      "param2": "other"
    }

GET /cats

  Query "param=some&param2=other" htmlFormEncoded 
    {
      "param": "some",
      "param2": "other"
    }